@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    /* Light Mode */
    --borderColor: #d0d0d0;
    --addButtonColor: #0556c6;
    --deleteButtonColor: #de0a13;
    --highlitedColor: #b9b9b948;
    --highliteHoverColor: #d0d0d0;
    --primaryTextColor: #ffffff;
    --primaryBackgroundColor: #7E57C2;
    --secondPrimaryBackgroundColor: #ffffff;
    --primaryShadowColor: #cac9c9;
    --fontColor: #575e63;
}

.dark-mode {
    /* Dark Mode */
    --primaryBackgroundColor: #121212;
    --secondPrimaryBackgroundColor: #1b1b1b;
    /* --addButtonColor: ; */
    --deleteButtonColor: #b3243e;
    --backgroundColor: #21323a;
    --borderColor: #2f2f2f;
    --fontColor: #ffffff;
    --highliteHoverColor: #292929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    background-color: var(--primaryBackgroundColor);
}

aside {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    background-color: #532f91;
}

main {
    padding: 20px;
    color: var(--fontColor);
    font-family: 'Cabin', sans-serif;
    background-color: var(--primaryBackgroundColor);
    display: grid;
    grid-template-columns: 1fr 35fr 1fr;
}

main #sub-main {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
}

main #sub-main section#header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

main #sub-main section#body {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

main #sub-main section#footer {
    width: 50%;
    margin: auto;
}

/* .shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} */
/* .section {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} */

#mode-container {
    display: grid;
}
/* #mode-container #mode {
    color: var(--primaryTextColor);
    background-color: #121212;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
} */
#mode-container #mode:hover {
    cursor: pointer;
}

#mode-container #mode.active {
    background-color: white;
    color: #121212;
}

#mode-container .themes {
    width: 50px;
    height: 50px;
    background-color: #532f91;
    border-radius: 100%;
    margin-top: 20px;
    cursor: pointer;
}

#mode-container .theme-text {
    font-size: 50px;
    /* text-orientation: upright; */
    writing-mode: vertical-lr;
    color: white;
    margin-bottom: 50px;
    rotate: 180deg;
}

#search-form {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 11fr;
    place-items: center;
    border-radius: 5px;
}

#search-form #search-btn {
    font-size: 22px;
    padding: 10px;
}

#input-form {
    background-color: white;
    display: grid;
    grid-template-columns: 11fr 1fr;
    place-items: center;
    border-radius: 5px;
    /* margin-bottom: 30px; */
    padding-left: 10px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(33, 35, 36, 0.15) 0px 1px 3px 1px; */
}

#search-form input[type="text"],
#input-form input[type="text"] {
    width: 100%;
    height: 35px;
    font-size: 18px;
    padding: 5px 0;
    /* margin-right: 10px; */
    outline: none;
    border: none;
}
#input-form #add-button {
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

#list-container {
    background-color: var(--secondPrimaryBackgroundColor);
    border-radius: 5px;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
#list-container .status {
    display: flex;
    justify-content: space-between;
}
#list-container .status .counterWrapper {
    display: flex;
    padding: 15px;
}
#list-container .status .counterWrapper .counter {
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: #24b349;
    border-radius: 3px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list-container .status .counterWrapper .counterNumber {
    margin: 0;
    padding: 0;
}
#list-container .status .counterWrapper #completedCounter {
    background-color: #24b349;
}
#list-container .status .counterWrapper #uncompletedCounter {
    background-color: var(--deleteButtonColor);
}
#list-container h3 {
    padding: 15px;
    margin: 0;
}
#list-container ul {
    padding: 0 0;
    margin: 0 0;
}
#list-container ul li {
    display: grid;
    grid-template-columns: 1.2fr 18fr 1.6fr 1fr;
    align-items: center;
    /*height: 22px;*/
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border-top: 2px solid var(--borderColor);
}
#list-container ul li:hover {
    background-color: var(--highliteHoverColor);
}
/* #list-container ul li #checkbox {
    float: left;
} */
#list-container ul li .ls-action-btns {
    font-size: 21px;
    /* padding: 5px 10px; */
}
#list-container ul li .ls-action-btns:not(:nth-child(1)) {
    font-size: 17px;
}
#list-container ul li #list-text {
    /*float: left;*/
    padding: 0;
    margin: 0 0 0 5px;
    font-size: 16px;
}
#list-container ul li #del-btn {
    /* font-size: 20px; */
    /*float: right;*/
    color: var(--deleteButtonColor);
    /* background-color: var(--deleteButtonColor); */
    /* border: solid var(--deleteButtonColor); */
    cursor: pointer;
    outline-color: var(--deleteButtonColor);
    /* border-radius: 4px; */
}

@media (max-width: 700px) {
    body {
        width: 95%;
    }
    .shadow {
        box-shadow: none;
    }
    #input-form {
        width: 100%;
        height: 50px;
        background: none;
        display: block;
        margin: 70px 0 0 0;
    }
    #input-form .wrapper {
        padding: 0;
    }
    button {
        height: 50px;
    }
    #del-btn {
        height: 30px;
    }
    #list-container {
        background: none;
        margin: 0;
        padding-top: 20px;
    }
    #list-container ul li {
        border:  none;
    }
    #list-container ul li #list-text {
        font-size: 18px;
        font-weight: bold;
    }
}